<APPCONFIG>
  <SKIN>Clean</SKIN>
  <APPLANG>English</APPLANG>
  <LOGEVENTS>True</LOGEVENTS>
  <BUFFERRADIO>False</BUFFERRADIO>
  <ENABLEPLUGIN>True</ENABLEPLUGIN>
  <ACTIVEBAND>DAB_BAND</ACTIVEBAND>
  <LASTDAB>14</LASTDAB>
  <LASTFM>105750</LASTFM>
  <PLAYBACK>-1|-1</PLAYBACK>
  <LINEIN>-1|-1</LINEIN>
  <SLSLAYOUT>Stretched</SLSLAYOUT>
  <VOLUME>6</VOLUME>
  <SETSTEREOMODE>AUTO</SETSTEREOMODE>
  <CHINAMODE>False</CHINAMODE>
  <RESCAN>False</RESCAN>
</APPCONFIG>